src/.env

# Node.js
node_modules/
npm-debug.log
.npm/
.yarn/
tmp/
*.log

# Compiled output
dist/
build/
.tscache/

# Environment variables
.env
.env.*
.env-test
.DS_Store # macOS specific
Thumbs.db # Windows specific

# VS Code
.vscode/
src/src-summary.txt
src/src-summary2txt
src/src-summary*txt
src/sumarize-src.ts
