--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: colony_health_statuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.colony_health_statuses (
    status_id integer NOT NULL,
    status_name character varying(50) NOT NULL
);


ALTER TABLE public.colony_health_statuses OWNER TO postgres;

--
-- Name: colony_health_statuses_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.colony_health_statuses_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.colony_health_statuses_status_id_seq OWNER TO postgres;

--
-- Name: colony_health_statuses_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.colony_health_statuses_status_id_seq OWNED BY public.colony_health_statuses.status_id;


--
-- Name: hive_inspections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hive_inspections (
    hive_inspection_id uuid DEFAULT gen_random_uuid() NOT NULL,
    major_inspection_id uuid NOT NULL,
    hive_id uuid NOT NULL,
    inspection_time time without time zone NOT NULL,
    colony_health_status_id integer NOT NULL,
    num_chambers integer NOT NULL,
    brood_frames_count integer,
    brood_percentage integer,
    queen_status_id integer NOT NULL,
    approx_honey_weight_kg integer,
    drone_comb_frames_count integer,
    drone_comb_percentage integer DEFAULT 0,
    sugar_feed_added boolean DEFAULT false NOT NULL,
    sugar_feed_quantity_kg numeric(8,2),
    brood_chambers_count integer NOT NULL,
    supers_count integer NOT NULL,
    queen_excluder_present boolean DEFAULT false NOT NULL,
    num_varroa_mites_found integer,
    varroa_treatment_id integer,
    varroa_treatment_dosage character varying(255),
    raising_new_queen boolean DEFAULT false NOT NULL,
    queen_cell_age_days integer,
    queen_cell_status_id integer,
    other_notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_approx_honey_weight_kg CHECK ((((approx_honey_weight_kg)::numeric >= (0)::numeric) AND ((approx_honey_weight_kg)::numeric <= (100)::numeric))),
    CONSTRAINT chk_brood_percentage CHECK ((((brood_percentage)::numeric >= (0)::numeric) AND ((brood_percentage)::numeric <= (100)::numeric))),
    CONSTRAINT chk_drone_comb_percentage CHECK ((((drone_comb_percentage)::numeric >= (0)::numeric) AND ((drone_comb_percentage)::numeric <= (100)::numeric)))
);


ALTER TABLE public.hive_inspections OWNER TO postgres;

--
-- Name: hives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hives (
    hive_id uuid DEFAULT gen_random_uuid() NOT NULL,
    location_id uuid NOT NULL,
    hive_name character varying(255) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.hives OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    location_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    address character varying(500),
    latitude numeric(9,6),
    longitude numeric(9,6),
    country character varying(100),
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: major_inspections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.major_inspections (
    major_inspection_id uuid DEFAULT gen_random_uuid() NOT NULL,
    location_id uuid NOT NULL,
    inspection_date date NOT NULL,
    general_notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.major_inspections OWNER TO postgres;

--
-- Name: queen_cell_statuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.queen_cell_statuses (
    status_id integer NOT NULL,
    status_name character varying(50) NOT NULL
);


ALTER TABLE public.queen_cell_statuses OWNER TO postgres;

--
-- Name: queen_cell_statuses_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.queen_cell_statuses_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.queen_cell_statuses_status_id_seq OWNER TO postgres;

--
-- Name: queen_cell_statuses_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.queen_cell_statuses_status_id_seq OWNED BY public.queen_cell_statuses.status_id;


--
-- Name: queen_statuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.queen_statuses (
    status_id integer NOT NULL,
    status_name character varying(50) NOT NULL
);


ALTER TABLE public.queen_statuses OWNER TO postgres;

--
-- Name: queen_statuses_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.queen_statuses_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.queen_statuses_status_id_seq OWNER TO postgres;

--
-- Name: queen_statuses_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.queen_statuses_status_id_seq OWNED BY public.queen_statuses.status_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(255) NOT NULL,
    password_hash character varying(255),
    email character varying(255) NOT NULL,
    google_id character varying(255),
    linkedin_id character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: varroa_treatments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.varroa_treatments (
    treatment_id integer NOT NULL,
    treatment_name character varying(100) NOT NULL
);


ALTER TABLE public.varroa_treatments OWNER TO postgres;

--
-- Name: varroa_treatments_treatment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.varroa_treatments_treatment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.varroa_treatments_treatment_id_seq OWNER TO postgres;

--
-- Name: varroa_treatments_treatment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.varroa_treatments_treatment_id_seq OWNED BY public.varroa_treatments.treatment_id;


--
-- Name: colony_health_statuses status_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.colony_health_statuses ALTER COLUMN status_id SET DEFAULT nextval('public.colony_health_statuses_status_id_seq'::regclass);


--
-- Name: queen_cell_statuses status_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_cell_statuses ALTER COLUMN status_id SET DEFAULT nextval('public.queen_cell_statuses_status_id_seq'::regclass);


--
-- Name: queen_statuses status_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_statuses ALTER COLUMN status_id SET DEFAULT nextval('public.queen_statuses_status_id_seq'::regclass);


--
-- Name: varroa_treatments treatment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.varroa_treatments ALTER COLUMN treatment_id SET DEFAULT nextval('public.varroa_treatments_treatment_id_seq'::regclass);


--
-- Data for Name: colony_health_statuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.colony_health_statuses (status_id, status_name) FROM stdin;
1	Thriving
2	Weak
3	Failing
4	Unknown
\.


--
-- Data for Name: hive_inspections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hives; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: major_inspections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: queen_cell_statuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.queen_cell_statuses (status_id, status_name) FROM stdin;
1	Open
2	Closed
3	Hatched
4	Destroyed
5	Emerging
6	Unknown
\.


--
-- Data for Name: queen_statuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.queen_statuses (status_id, status_name) FROM stdin;
1	Seen
2	Not Seen
3	Laying Well
4	Queen Cells Present
5	Superseded
6	Absent
7	Virgin
8	Unknown
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: varroa_treatments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.varroa_treatments (treatment_id, treatment_name) FROM stdin;
1	Formic Acid
2	Oxalic Acid
3	Apivar
4	Api Life Var
5	Mite Away Quick Strips
6	None
7	Other
\.


--
-- Name: colony_health_statuses_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.colony_health_statuses_status_id_seq', 4, true);


--
-- Name: queen_cell_statuses_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.queen_cell_statuses_status_id_seq', 6, true);


--
-- Name: queen_statuses_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.queen_statuses_status_id_seq', 8, true);


--
-- Name: varroa_treatments_treatment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.varroa_treatments_treatment_id_seq', 7, true);


--
-- Name: colony_health_statuses colony_health_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.colony_health_statuses
    ADD CONSTRAINT colony_health_statuses_pkey PRIMARY KEY (status_id);


--
-- Name: colony_health_statuses colony_health_statuses_status_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.colony_health_statuses
    ADD CONSTRAINT colony_health_statuses_status_name_key UNIQUE (status_name);


--
-- Name: hive_inspections hive_inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_pkey PRIMARY KEY (hive_inspection_id);


--
-- Name: hives hives_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hives
    ADD CONSTRAINT hives_pkey PRIMARY KEY (hive_id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (location_id);


--
-- Name: major_inspections major_inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.major_inspections
    ADD CONSTRAINT major_inspections_pkey PRIMARY KEY (major_inspection_id);


--
-- Name: queen_cell_statuses queen_cell_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_cell_statuses
    ADD CONSTRAINT queen_cell_statuses_pkey PRIMARY KEY (status_id);


--
-- Name: queen_cell_statuses queen_cell_statuses_status_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_cell_statuses
    ADD CONSTRAINT queen_cell_statuses_status_name_key UNIQUE (status_name);


--
-- Name: queen_statuses queen_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_statuses
    ADD CONSTRAINT queen_statuses_pkey PRIMARY KEY (status_id);


--
-- Name: queen_statuses queen_statuses_status_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queen_statuses
    ADD CONSTRAINT queen_statuses_status_name_key UNIQUE (status_name);


--
-- Name: hive_inspections uq_hiveinspection_majorhive; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT uq_hiveinspection_majorhive UNIQUE (major_inspection_id, hive_id);


--
-- Name: hives uq_hivename_location; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hives
    ADD CONSTRAINT uq_hivename_location UNIQUE (location_id, hive_name);


--
-- Name: locations uq_locationname_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT uq_locationname_user UNIQUE (user_id, name);


--
-- Name: major_inspections uq_majorinspection_locationdate; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.major_inspections
    ADD CONSTRAINT uq_majorinspection_locationdate UNIQUE (location_id, inspection_date);


--
-- Name: users users_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key1 UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_linkedin_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_linkedin_id_key UNIQUE (linkedin_id);


--
-- Name: users users_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey1 PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: varroa_treatments varroa_treatments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.varroa_treatments
    ADD CONSTRAINT varroa_treatments_pkey PRIMARY KEY (treatment_id);


--
-- Name: varroa_treatments varroa_treatments_treatment_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.varroa_treatments
    ADD CONSTRAINT varroa_treatments_treatment_name_key UNIQUE (treatment_name);


--
-- Name: idx_hive_inspections_hive_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hive_inspections_hive_id ON public.hive_inspections USING btree (hive_id);


--
-- Name: idx_hive_inspections_major_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hive_inspections_major_id ON public.hive_inspections USING btree (major_inspection_id);


--
-- Name: idx_hives_location_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hives_location_id ON public.hives USING btree (location_id);


--
-- Name: idx_locations_lat_lon; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_locations_lat_lon ON public.locations USING btree (latitude, longitude);


--
-- Name: idx_locations_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_locations_user_id ON public.locations USING btree (user_id);


--
-- Name: idx_major_inspections_location_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_major_inspections_location_date ON public.major_inspections USING btree (location_id, inspection_date);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_google_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_google_id ON public.users USING btree (google_id);


--
-- Name: idx_users_linkedin_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_linkedin_id ON public.users USING btree (linkedin_id);


--
-- Name: hive_inspections update_hive_inspections_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_hive_inspections_updated_at BEFORE UPDATE ON public.hive_inspections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: hives update_hives_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_hives_updated_at BEFORE UPDATE ON public.hives FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: locations update_locations_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_locations_updated_at BEFORE UPDATE ON public.locations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: major_inspections update_major_inspections_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_major_inspections_updated_at BEFORE UPDATE ON public.major_inspections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: hive_inspections hive_inspections_colony_health_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_colony_health_status_id_fkey FOREIGN KEY (colony_health_status_id) REFERENCES public.colony_health_statuses(status_id);


--
-- Name: hive_inspections hive_inspections_hive_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_hive_id_fkey FOREIGN KEY (hive_id) REFERENCES public.hives(hive_id) ON DELETE CASCADE;


--
-- Name: hive_inspections hive_inspections_major_inspection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_major_inspection_id_fkey FOREIGN KEY (major_inspection_id) REFERENCES public.major_inspections(major_inspection_id) ON DELETE CASCADE;


--
-- Name: hive_inspections hive_inspections_queen_cell_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_queen_cell_status_id_fkey FOREIGN KEY (queen_cell_status_id) REFERENCES public.queen_cell_statuses(status_id);


--
-- Name: hive_inspections hive_inspections_queen_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_queen_status_id_fkey FOREIGN KEY (queen_status_id) REFERENCES public.queen_statuses(status_id);


--
-- Name: hive_inspections hive_inspections_varroa_treatment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hive_inspections
    ADD CONSTRAINT hive_inspections_varroa_treatment_id_fkey FOREIGN KEY (varroa_treatment_id) REFERENCES public.varroa_treatments(treatment_id);


--
-- Name: hives hives_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hives
    ADD CONSTRAINT hives_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(location_id) ON DELETE CASCADE;


--
-- Name: locations locations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: major_inspections major_inspections_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.major_inspections
    ADD CONSTRAINT major_inspections_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(location_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

